body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-size: 26px;
  color: #111;
  line-height: 29px;
}

h3 {
  font-size: 22px;
  font-style: italic;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.role-span {
  color: #ddd;
}

@media screen and (max-width: 371px) {
  .role-span {
    font-size: 4vw;
  }
  h1 {
    font-size: 10vw;
    line-height: 12vw;
  }
}

@media screen and (min-width: 372px) and (max-width: 573px) {
  .role-span {
    display: block;
  }
}

hr {
  margin: 10px 0;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #777;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #777;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #222;
  line-height: 21px;
}

a {
  color: #19c;
  display: block;
  font-size: 16px;
  margin-top: 10px;
  text-decoration: none;
}

.online-link {
  display: inline-block;
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
  width: 100%;
}

.welcome-message {
  color: #f3f3f3;
  font-family: "Caveat", cursive;
  font-size: 28px;
  line-height: 28px;
  text-transform: lowercase;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  color: #ddd;
}

.gray {
  background-color: #f3f3f3;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: rgb(25, 30, 33);
}

.flex-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  padding: 10px;
}

@media screen and (max-width: 522px) {
  .flex-box {
    text-align: center;
  }
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  border-radius: 50%;
  box-shadow: 0 0 10px #555;
  display: block;
  float: left;
  margin: 10px;
  min-width: 100px;
  padding: 0;
  width: 15vw;
}

@media screen and (max-width: 522px) {
  .biopic {
    display: none;
  }
}

@media screen and (min-width: 523px) and (max-width: 749px) {
  #skills {
    margin-top: 38px;
  }
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 749px) {
  #lets-connect {
    margin-top: 10%;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 60vw;
  margin: 0 5%;
}

#mapDiv {
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3 {
    display: block;
    margin-left: 18%;
  }
}

/* Customizing the added Bootstrap Dropdown Menu, containing my contacts */

.btn-group {
  width: 100%;
}

.btn-group>.btn:first-child {
  margin: 10px 30% 5px;
}

.dropdown-menu {
  background: transparent;
  border: none;
  box-shadow: none;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .dropdown-menu {
    text-align: center;
  }
}

.dropdown-toggle {
  background: transparent;
  border: 1px solid #ddd;
  color: #ddd;
  text-transform: uppercase;
  width: 40%;
}

.dropdown-toggle:focus {
  background: transparent;
  color: #ddd;
}

@media screen and (min-width: 750px) {
  .dropdown-toggle {
    display: none;
  }
}

.btn-group.open .dropdown-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  padding: 10px;
}

@media screen and (min-width: 750px) {
  #topContacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    padding: 10px;
  }
}

.btn-group.open .dropdown-toggle,
.btn-group.open .dropdown-toggle:focus {
  background: transparent;
  border: 1px solid #ddd;
  color: #ddd;
}
.btn-group.open .dropdown-toggle:hover {
  background-color: #ddd;
  color: #333;
}

.info-window-img {
  max-width: 300px;
  margin: 0;
}

#info-window-title {
  font-size: 14px;
  padding: 0;
}


/* here I'm adding styles and media queries to classes toggled by jWueries in the resumeBuilder.js */

.plus,
.minus {
  float: right;
  padding: 0;
  width: 24px;
}

.minus {
  display: none;
}

.target:hover {
  background-color: #f5ae23;
}

@media screen and (max-width: 573px) {
  .target {
    text-align: center;
    padding-left: calc(5% + 24px);
  }
  #mapDiv {
    text-align: center;
  }
}